/server/dist
/web/dist

# dependencies
/node_modules
/server/node_modules
/web/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store


.idea

# Logs
logs
*.log
npm-debug.log*

next
.env